ul
  li(ng-repeat="btn in data.btns")
    .btn(ng-click="btn_clicked(btn)" ng-class="clicked_btn(btn)")
      |{{ btn.name }}

- var fn = "basic_form"
form(name="#{fn}" ng-show="clicked('basic')")
  .field
    label 標題
    input(type="text")
  .field
    label ID
    input(type="text")
  .field
    label 類別
    input(type="text")
  .field
    label 難度
    input(type="text")
  .field
    label 作者
    input(type="text")

- var fn = "body_form"
form(name="#{fn}" ng-show="clicked('body')")
  .field
    label 題文
    input(type="text")

- var fn = "quest_form"
form(name="#{fn}" ng-show="clicked('quest')")
  .field
    label 題問
    input(type="text")
  .field
    label 選項
    input(type="text")

- var fn = "info_form"
form(name="#{fn}" ng-show="clicked('info')")
  .field
    label 資訊
    input(type="text")
  .field
    label 提示
    input(type="text")

- var fn = "misc_form"
form(name="#{fn}" ng-show="clicked('misc')")
  .field
    label 能見度
    input(type="text")
