mixin email(form)
  label(for="email") 電郵
  input#email(type="email" name="email" placeholder="@"
    ng-required="true" ng-model="form.email"
    ng-class="{error: regform.email.$invalid && !#{form}.email.$pristine}"
    ng-minlength=8 ng-maxlength=32)
  p.error(ng-show="#{form}.email.$invalid && !#{form}.email.$pristine")
    | Email 格式錯誤
