mixin name_input(form)
  label(for="name") 名字(本測驗需以真實姓名報名)
  input#name(type="text" name="uname" placeholder="OOO"
    ng-required="true" ng-model="form.name"
    ng-class="{error: #{form}.uname.$invalid && !#{form}.uname.$pristine}"
    ng-minlength="2" ng-maxlength="8")
  p.error(ng-show="#{form}.uname.$invalid && !#{form}.uname.$pristine")
    span 必填欄位
    span(ng-show="#{form}.uname.$error.minlength") (太短)
    span(ng-show="#{form}.uname.$error.maxlength") (太長)
