mixin password(form, confirm)
  - var pnl = (confirm ? "確認" : "") + "密碼"
  - var pwn = "password" + (confirm ? "_confirm" : "")
  - var pwnc = form + "." + pwn + ".$invalid && !" + form + "." + pwn + ".$pristine"
  - var pwnm = "(form.password == form.password_conform) && !" + form + "." + pwn + ".$pristine"
  label(for=pwn) #{pnl}
  input.password(type="password" placeholder="#"
    name=pwn
    ng-model="form.#{pwn}"
    ng-class="{error: #{pwnc}}"
    ng-minlength=8 ng-maxlength=32)
  p.error
    span(ng-show=pwnc) 密碼至少8個字
    if confirm
      span(ng-show=pwnm) &nbsp;確認密碼需與密碼相同

