//- need implement cal_disable() in js file
mixin date_picker(id, data_ref, date_opt, data_name)
  input(type="text"
    id="#{id}"
    ng-model="#{data_ref}.#{data_name}"
    date-disabled="#{id}_cal_disable(date, mode)"
    year-range="1"
    format-day-title="'MM yyyy'"
    format-month-title="'MM yyyy'"
    format-month="MMM"
    datepicker-mode="day"
    datepicker-popup="yyyy/MM/dd"
    datepicker-options="#{data_ref}.#{date_opt}"
    min-date="#{data_ref}.#{date_opt}.minDate"
    max-date="#{data_ref}.#{date_opt}.maxDate"
    is-open="#{data_ref}.#{date_opt}.open"
    show-button-bar="false"
    disabled=""
    ng-required="true" )

