include ../../com/date.jade

mixin _select_action
  fieldset.field#mod
    label(for="mod") 功能
    select#mod(ng-model="data.action" ng-options="a.value as a.name for a in data.option.actions")

mixin _field_gcode
  fieldset.field
    label(for="gcode") 1.班級代碼
    input#gcode(type="text" name="gcode"
      placeholder="請輸入6位數班級代碼"
      ng-required="true"
      ng-class="{ 'error': field_invalid(#{fn}.gcode) }"
      ng-minlength="6" ng-maxlength="6"
      ng-model="data.regform.gcode")
    p.error
      span(ng-show="#{fn}.gcode.$error.maxlength || #{fn}.gcode.$error.minlength") 需為6個字元
      span(ng-show="#{fn}.gcode.$error.required && #{fn}.gcode.$dirty") 必填欄位

mixin _field_contest
  fieldset.field.ty
    label(for="contest") 2.選擇測驗
    input#contest(type="text" name="contest"
      ng-class="{ 'error': invalid_contest(#{fn}.contest) }"
      typeahead="sc as sc.name for sc in get_contest_list($viewValue)"
      typeahead-loading="loadingContests"
      typeahead-on-select="set_contest($item, $model, $label)"
      typeahead-wait-ms="500"
      typeahead-watch-changes=""
      ng-trim="false"
      empty-typeahead=""
      ng-focus="focus_contest($event)"
      placeholder="查詢測驗"
      ng-required="true"
      ng-disabled="gcode_valid()"
      ng-model="data.contest")
    p.error
      span(ng-show="invalid_contest(#{fn}.contest)") 必填欄位

mixin _field_exdate
  fieldset.field
    label(for="exdate") 3.測驗日期
    .datepicker
      +date_picker("exdate", "data", "option.exdate", "regform.exdate")
      button.trigger(type="button" ng-click="open_calendar($event)")
        i.fa.fa-fw.fa-calendar

mixin _field_extime
  fieldset.field
    label(for="extime") 4.測驗時間
    select#extime(type="text" name="extime" ng-model="data.regform.extime"
      ng-required="true"
      ng-class="{ 'error': field_invalid(#{fn}.extime) }"
      ng-options="a.value as a.name for a in data.option.times")
      option(value="") -- 請選擇班級 --

mixin _btns
  fieldset.field#btns
    label(for="") &nbsp;
    button.btn(ng-click="submit()") 送出

- var fn = "rgf"
form.top(name="#{fn}")
  +_select_action
  +_field_gcode
  +_field_contest
  +_field_exdate
  +_field_extime
  +_btns

