ul.ops.flow(flow-init="{singleFile: true}"
    flow-file-added="file_added($file, $event)")
  li
    .btn(ng-click="new_enrollment()") 單筆新增
  li
    .btn(ng-click="save_edited()") 儲存編輯
  li
    .btn(flow-btn="" flow-attrs="{accept:'.csv,application/csv,text/csv'}") 匯入學生資料
  li
    .files(ng-repeat='file in $flow.files')
      .status
        .name {{file.name}}
        .msg {{file.msg}}
  li
    .tip 資料為*.csv格式（無表頭)，請參考
      a.template(href="http://bebras01.csie.ntnu.edu.tw:88/system/st_template.csv") 此範本
      | 填入資料上傳

.students
  table
    thead
      tr
        - var cols = ["姓名", "性別", "學號", "座號", "處理狀態"]
        - each col in cols
          th #{col}
        th(ng-show="data.users.length > 0")
          button.btn(ng-click="delete_checked()") 刪除
          input(type="checkbox" ng-model="check_all")
    tbody
      tr(ng-show=" data.users.length == 0 ")
        td(colspan="#{cols.length}") 沒有資料
      tr(ng-repeat=" sv in data.users ")
        - var keys = ["name", "gender", "suid", "seat", "status.name"]
        - each key in keys
          td(ng-class="{error: sv.error.#{key}}")
            if key != "status.name"
              a(href="" buttons="no" editable-text="sv.#{key}" onaftersave="make_dirty(sv)")
                | {{ sv.#{key} || "no name" }}
            else
              span.status(ng-class="sv.status.value")
                | {{ sv.#{key} }}
        td
          input(type="checkbox"
            ng-hide=" sv.status.value != 'added' "
            checklist-model="data.del_users"
            checklist-value="sv.id")

